<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

    <body>

        <h2>Veterinarian</h2>
        <form th:object="${vet}" class="form-horizontal" id="add-vet-form" method="post">
            <div class="form-group has-feedback">
                <input
                    th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
                <input
                    th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
                
                <input
                    th:replace="~{fragments/inputField :: input ('Username', 'userName', 'text')}" />
                
                <input
                    th:replace="~{fragments/inputField :: input ('Password', 'password', 'text')}" />

                <div class="form-group">
                    <label class="col-sm-2 control-label">Specialties</label>
                    <div class="col-sm-10">
                        <div class="checkbox" th:each="spec : ${vetSpec}">
                            <input th:value="${spec.id}" th:field="*{specialties}" type="checkbox" th:name="specialties" th:text="${spec.name}"/> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default" type="submit">Save</button>
                </div>
            </div>
        </form>
    </body>
</html>
