<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'petTypes')}">

    <body>

        <h2>Edit Type</h2>
        <form th:object="${type}" class="form-horizontal" id="add-spec-form" method="post">
            <div class="form-group has-feedback">
                <input
                    th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
                
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default" type="submit">Edit</button>
                </div>
            </div>
        </form>
        
    </body>
</html>